:root {
  --font-roboto: "Roboto", sans-serif;
  --font-titan: "Titan One", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    180deg,
    rgb(31, 131, 245) 0%,
    rgb(31, 158, 248) 10%,
    #fff 100%
  );
}

.design-container {
  position: absolute;
  width: 200%;
  height: 100%;
  top: -14%;
  left: -36%;
  transform: rotate(-20deg);
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* z-index: -4; */
}

.design-pattern-container {
  width: 100%;
  height: 20%;
  padding: 5%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: rgba(14, 98, 195, 0.35);
}

.design-pattern {
  font-family: var(--font-titan);
  font-size: 1.4rem;
}

.app-title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.app-title {
  padding: 10px;
  text-align: center;
  font-family: var(--font-titan);
  color: rgb(251, 237, 29);
  font-size: 3rem;
  text-shadow: 2px 2px black, -2px -2px black;
}

.choices-section-container {
  position: relative;
  top: 12%;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 2%;
  height: 85%;
  z-index: 1;
}

.choices-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-shadow: 1px 1px 4px rgb(251, 237, 29), -1px -1px 4px rgb(251, 237, 29);
}

.choices-container {
  font-size: 0.85rem;
  width: 90%;
  top: 5%;
  height: 60%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  background-color: rgba(239, 234, 228, 0.7);
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 0 10px gray;
}

.choice-container {
  flex-shrink: 0;
  flex: 1;
  min-width: calc(50% - 10px);
  padding: 1%;
}

.choices {
  position: relative;
  z-index: 5;
  margin-right: 10px;
}

.added-choice-container {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  font-size: 0.8rem;
  align-items: center;
}

.added-choice-container input {
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
}

.added-choice-container input::placeholder {
  padding: 0.5rem;
  font-size: 0.7rem;
}

.no-choices-enter-btn-container {
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.no-choices {
  color: red;
  font-size: 1.2rem;
  animation: blink 2000ms ease forwards;
  display: none;
}

.enter-button {
  width: 70%;
  padding: 3%;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  color: rgb(251, 237, 29);
  text-shadow: 0 0 3px black;
  background-color: rgb(31, 158, 248);
  box-shadow: 0 0 10px gray;
}

@keyframes blink {
  0%,
  40%,
  60%,
  100% {
    opacity: 1;
  }
  20%,
  80% {
    opacity: 0;
  }
}

/* Spin Page */
.spin-container {
  position: relative;
  top: 12%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wheel-container {
  position: relative;
  width: 320px;
  height: 200px;
  border: 10px solid;
  border-image: linear-gradient(20deg, gray 0%, rgb(2, 71, 150) 50%, gray 100%);
  border-image-slice: 1;
  background-image: linear-gradient(
    0deg,
    #fff 0%,
    rgb(215, 210, 210) 50%,
    #fff 100%
  );
  overflow: hidden;
  box-shadow: 0 0 30px black;
}

.top-part,
.bottom-part {
  height: 30%;
}

.wheel-pointer {
  position: absolute;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  width: 60px;
  height: 50px;
  top: calc(50% - 25px);
  left: -30px;
  background-color: red;
}

.food-choices-container {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

@keyframes spin {
  0% {
    top: -5000px;
  }
  100% {
    top: -696px;
  }
}

@keyframes spin-fast {
  0% {
    top: -28000px;
  }
  100% {
    top: -5000px;
  }
}

.place {
  font-size: 1.8rem;
}

.middle-part {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  z-index: 10;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 40%;
  background-color: rgba(31, 131, 245, 0.3);
  /* background-color: rgba(251, 237, 29, 0.3); */
}

.spin-button,
.back-button {
  padding: 5% 10%;
  /* width: 100px; */
  border: none;
  border-radius: 10px;
  font-size: 1.6rem;
  font-family: var(--font-titan);
  background-color: rgb(31, 131, 245);
  color: rgb(251, 237, 29);
  text-shadow: 1px 1px black, -1px -1px black;
  box-shadow: 0 0 14px gray;
  letter-spacing: 3px;
}

.back-button {
  font-size: 1.2rem;
  /* background-color: yellow; */
  /* color: black; */
  /* text-shadow: none; */
  letter-spacing: 0;
  padding: 3% 10%;
  color: rgb(31, 131, 245);
  text-shadow: none;
  background-color: rgb(251, 237, 29);
}

.footer-container {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 5%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.rocket-icon {
  font-size: 0.9rem;
}
/* rocket launch */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
