:root {
  --font-roboto: "Roboto", sans-serif;
  --font-titan: "Titan One", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    180deg,
    rgb(31, 131, 245) 0%,
    rgb(31, 158, 248) 10%,
    #fff 100%
  );
}

.design-container {
  position: absolute;
  width: 200%;
  height: 100%;
  top: -4%;
  left: -36%;
  transform: rotate(-20deg);
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* z-index: -4; */
}

.design-pattern-container {
  width: 100%;
  height: 20%;
  padding: 3%;
  display: flex;
  flex-direction: row;
  gap: 70px;
  color: rgba(14, 98, 195, 0.35);
}

.design-pattern {
  font-family: var(--font-titan);
  font-size: 1.4rem;
}

.app-title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.app-title {
  padding: 10px;
  text-align: center;
  font-family: var(--font-titan);
  color: rgb(251, 237, 29);
  font-size: clamp(3rem, 5vw, 5rem);
  text-shadow: 2px 2px black, -2px -2px black;
}

.choices-section-container {
  position: relative;
  top: 12%;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 2%;
  height: 85%;
  z-index: 1;
}

.choices-title {
  font-size: clamp(1.1rem, 2vw, 2rem);
  font-weight: 600;
  text-shadow: 1px 1px 4px rgb(251, 237, 29), -1px -1px 4px rgb(251, 237, 29);
}

.choices-container {
  font-size: 0.85rem;
  width: clamp(340px, 60%, 600px);
  height: auto;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 2% 2.5%;
  background-color: rgba(239, 234, 228, 0.7);
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 0 10px gray;
  justify-content: center;
  gap: 10px;
}

.choice-container {
  flex-shrink: 0;
  flex: 1;
  min-width: calc(50% - 10px);
  padding: 1%;
}

.choices {
  position: relative;
  z-index: 5;
  margin-right: 10px;
}

.choices::marker {
  font-size: 2rem;
  color: red;
}

.choices {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: #93caf7;
  cursor: pointer;
  position: relative;
}

.choices:checked {
  background-color: #0452ac;
  border-color: #13ca13;
  border-radius: 3px;
}

.choices:checked::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 0px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.choices:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(233, 33, 2, 0.5);
}

.added-choice-container {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  font-size: 0.8rem;
  align-items: center;
}

.added-choice-container label {
  font-size: clamp(0.8rem, 2vw, 1.1rem);
}

.added-choice-container input {
  width: clamp(150px, 20%, 170px);
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
}

.added-choice-container input::placeholder {
  padding: 0.5rem;
  font-size: clamp(0.7rem, 1.4vw, 1rem);
}

.no-choices-enter-btn-container {
  height: 30%;
  width: 100%;
  /* position: absolute; */
  /* bottom: 2%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

label {
  font-size: clamp(0.85rem, 2vw, 1.2rem);
}

.no-choices {
  color: red;
  font-weight: bold;
  font-size: clamp(1.2rem, 3vw, 2.2rem);
  animation: blink 2000ms ease forwards;
  display: none;
}

.enter-button {
  padding: 1rem 2rem;
  font-size: clamp(1.4rem, 2vw, 2rem);
  border: none;
  border-radius: 8px;
  color: rgb(251, 237, 29);
  text-shadow: 0 0 3px black;
  background-color: rgb(31, 158, 248);
  box-shadow: 0 0 10px gray;
}

@keyframes blink {
  0%,
  40%,
  60%,
  100% {
    opacity: 1;
  }
  20%,
  80% {
    opacity: 0;
  }
}

/* Spin Page */
.spin-container {
  position: relative;
  top: 12%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wheel-container {
  position: relative;
  width: 320px;
  height: 200px;
  border: 10px solid;
  border-image: linear-gradient(20deg, gray 0%, rgb(2, 71, 150) 50%, gray 100%);
  border-image-slice: 1;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(215, 210, 210, 0.5) 50%,
    rgba(255, 255, 255, 0.4) 100%
  );
  overflow: hidden;
  box-shadow: 0 0 30px black;
}

.top-part,
.bottom-part {
  width: 100%;
  position: absolute;
  height: 30%;
  backdrop-filter: blur(3px);
  z-index: 1;
}

.top-part {
  top: 0;
}

.bottom-part {
  top: 70%;
}
.wheel-pointer {
  position: absolute;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  width: 60px;
  height: 50px;
  top: calc(50% - 25px);
  left: -30px;
  background-color: red;
}

.food-choices-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

@keyframes spin {
  0% {
    top: -5000px;
  }
  100% {
    top: -696px;
  }
}

@keyframes spin-fast {
  0% {
    top: -28000px;
  }
  100% {
    top: -5000px;
  }
}

.place {
  font-size: 1.8rem;
}

.middle-part {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  z-index: 10;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 40%;
  background-color: rgba(31, 131, 245, 0.3);
  /* background-color: rgba(251, 237, 29, 0.3); */
}

.reset-button,
.spin-button,
.back-button {
  padding: 3% 6%;
  /* width: 100px; */
  border: none;
  border-radius: 10px;
  font-size: clamp(1.6rem, 2.4vw, 2.2rem);
  font-family: var(--font-titan);
  background-color: rgb(31, 131, 245);
  color: rgb(251, 237, 29);
  text-shadow: 1px 1px black, -1px -1px black;
  box-shadow: 0 0 14px gray;
  letter-spacing: 3px;
}

.reset-button {
  font-family: var(--font-roboto);
  letter-spacing: 1px;
  padding: 1% 5%;
  font-size: clamp(1rem, 2vw, 1.6rem);
}

.back-button {
  letter-spacing: 0;
  color: rgb(31, 131, 245);
  text-shadow: none;
  background-color: rgb(251, 237, 29);
}

.footer-container {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 5%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.rocket-icon {
  font-size: 0.9rem;
}
/* rocket launch */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@media screen and (min-width: 650px) {
  .design-container {
    top: -30%;
    left: -25%;
    gap: 10px;
  }

  .reset-button {
    bottom: 20px;
    padding: 0.35rem 1.5rem;
  }
  
  .spin-button, .back-button {
    padding: 2rem 4rem;
  }

  .wheel-container {
    width: 400px;
  }

  .food-choices-container {
    gap: 25.5px;
  }

  .choices {
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }

  .choices:checked::after {
    left: 6px;
    top: 0px;
    width: 4px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

@media screen and (min-width: 950px) {
  .food-choices-container {
    gap: 25.75px;
  }
}